<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<link rel="stylesheet" href="bootstrap.min.css">
<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="javascripts/jquery.paginate.js"></script>
<script src="jquery.bootpag.js"></script>
<script src="javascripts/main.js"></script>


<body>
	{{#if err}}
		<h1>{{err}}</h1>
	{{/if}}

	<table class="table">
		<tbody class="ticket-list">
			<tr>
				<th>Subject</th>
				<th>Requester</th>
				<th>Requested</th>
				<th>Type</th>
				<th>Priority</th>
			</tr>
			{{#each tickets}}	
			<tr class='clickable-row' data-href="ticket={{@index}}">
				<td>{{subject}}</td>
				<td>{{requester_id}}</td>
				<td>{{created_at}}</td>
				<td>{{type}}</td>
				<td>{{priority}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</body>
