<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<link rel="stylesheet" href="bootstrap.min.css">
<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="javascripts/jquery.paginate.js"></script>
<script src="jquery.bootpag.js"></script>
<script src="javascripts/main.js"></script>


<body>
	{{#if err}}
		<h1>{{err}}</h1>
	{{/if}}
	<ul class="ticket-list">
		{{#each tickets}}		
			<a href="ticket={{@index}}">
				<li>{{subject}}</li>
			</a>
		{{/each}}	
	</ul>
</body>
